{% load static %}
<div class="comment">
    <div class="user_img_60px_round">
        {% if comment.author.photo %}
            <a href="{% url 'lets_travel_app:user_profile' comment.author.username%}"><img src="{{ comment.author.photo }}"></a>
        {% else %}
            <a href="{% url 'lets_travel_app:user_profile' comment.author.username %}"><img src="{% static 'pictures/no_user_pho.png' %}"></a>
        {% endif %}
    </div>
    <div class="comment_details">
        {% if request.user == comment.author %}
            <div class="edit_and_del_btns">
                <div class="edit_comment_button mr-2"><span>Edit</span><img src="{% static 'pictures/edit_icon.png' %}"></div>
                <div class="delete_comment_button"><span>Delete</span><img src="{% static 'pictures/delete_icon.png' %}"></div>
            </div>
        {% endif %}
        <div class="font-weight-bold"><a href="{% url 'lets_travel_app:user_profile' comment.author.username %}">{{ comment.author.username }}</a></div>
        <div class="mb-2 exist_text">{{ comment.text }}</div>
        <div class="text_0_8em">{{ comment.date|date:"d-m-Y H:i" }}</div>
        <div class="edit_container form-group" style="display: none;">
            <label for="textarea"></label>
            <textarea class="edit_text form-control" id="textarea"></textarea><br/>
            <input type="submit" class="save_edited_comment form-control btn btn-primary mr-2" value="Save"/>
            <input type="submit" class="cancel_edit_comment form-control btn btn-primary" value="Cancel"/>
        </div>
        <div class="comment_id" style="display: none;">{{ comment.id }}</div>
    </div>
</div>