body, html{
    height: 100%;
    margin: 0;
    font-size: 15px;
}

.container-fluid {
    min-width: 1024px;
    padding: 0;
}

.user_image_30px_round {
    display: inline-block;
    margin-right: 5px;
}

.user_image_30px_round img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user_img_60px_round {
    display: inline-block;
}

.user_img_60px_round img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.text_0_8em{
    font-size: 0.8em;
}

.text_0_9em{
    font-size: 0.9em
}

.text_1_2em_bold{
    font-weight: bold;
    font-size: 1.2em;
}

.header {
    background-color: lightseagreen;
    color: aliceblue;
    height: 100px;
    width: 100%;
    min-height: 100px;
    max-height: 100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.title{
    text-align: center;
    font-family: 'lobster_1.4regular' ;
    font-size: 3.33em;
    flex-basis: 300px;
    flex-grow: 1;
    min-width: 300px;
}

.header_links_block{
    flex-basis: 400px;
    text-align: right;
    max-height: 100px;
    height: 100px;
    padding-top: 60px;
}

.header_user_info_block{
    flex-basis: 400px;
    text-align: left;
    max-height: 100px;
    height: 100px;
    padding-top: 60px;
}

.user_links_block{
    display: inline-block;
}

.header a{
    text-decoration: none;
    color: aliceblue;
}

.main{
    margin: 20px auto;
    padding:20px 40px;
    color: slategray;
    max-width: 1700px;
}

.main a{
    text-decoration: none;
    color: lightseagreen;
}

.homepage_img{
    max-width: 1600px;
    margin: 0 auto 40px;
}

.homepage_img img{
    width: 100%;
    border-radius: 10px;
}

.content_blocks{
    max-width: 1600px;
    margin: 0 auto 30px;
}

.content_captions_on_main{
    overflow: hidden;
    font-weight: bold;
    margin-bottom: 15px;
}

.content_captions_on_main::after{
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid lightseagreen;
}

.block_content_on_main{
    display: flex;
	justify-content: space-around;
    margin-bottom: 10px;
    padding-left:20px;
}

.blocks_on_main{
    margin-right: 20px;
    width: 250px;
    height: 380px;
}

.blocks_on_main img{
    width:100%;
    height: 160px;
    border-radius: 10px;
}

.flex_space_between_main{
    display: flex;
	justify-content: space-between;
}

.places_caption_on_main{
    width: 45%;
}

.places_on_main{
    width: 45%;
    padding: 0 20px;
    margin-bottom: 10px;
}

.place_on_main{
    margin-bottom: 15px;
    display: flex;
	justify-content: flex-start;
    align-items: center;
}

.place_info_on_main{
    display: inline-block;
    margin-left: 5px;
}

.caption_articles_on_main{
    margin-top: 5px;
    height: 80px;
    font-weight: bold;
    font-size: large;
}

.caption_h50px{
    margin-top: 5px;
    height: 50px;
    font-weight: bold;
    font-size: large;
}

.blocks_teaser{
    margin-top: 5px;
    height: 100px;
}

.block_content_all_items{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding-left:40px;
}

.block_each_item{
    margin-right: 40px;
    margin-bottom: 30px;
    width: 250px;
    min-width: 250px;
    height: 380px;
}

.block_each_item img{
    width: 100%;
    height: 187px;
    border-radius: 10px;
}

.container_content_width800px{
    width: 800px;
    margin: 0 auto;
}

.info_and_article{
    margin: 0 auto 30px;
}

.info_and_article div#caption{
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 20px;
    line-height: 1.1;
}

.line{
    border-bottom:solid 1px lightseagreen;
    margin: 5px 0 20px;
}

.info_and_article img{
    width: 100%;
    margin-bottom: 20px;
}

.info_and_article div#teaser{
    height: 50px;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.info_and_article div#text{
    font-size: 1.1em;
}

.comments_and_likes_amount{
    display: flex;
    justify-content: space-between;
    height:28px;
    margin-bottom: 30px;
}

.comments{
    margin-bottom: 30px;
}

.comment{
    display: flex;
    margin-bottom: 15px;
    padding:5px;
    border:solid 1px lightseagreen;
    border-radius: 10px;
}

.comment_details{
    margin-left: 5px;
    position: relative;
    width:800px;
}

.edit_container{
    display: flex;
}

.edit_container input{
    width: 70px;
}

.edit_and_del_btns{
    position: absolute;
    top:0;
    right:0;
    cursor: pointer;
    display:flex;
    color: lightseagreen;

}

.edit_and_del_btns span:hover{
    text-decoration: underline;
}

.edit_and_del_btns img{
    width: 15px;
    margin-left:3px;
}

.add_comment{
    width: 300px;
    margin-bottom: 15px;
}

.add_com_button{
    width: 140px;
}

.likes{
    display: flex;
    justify-content: flex-start;
}

.like_button .btn{
    background-color: lightseagreen;
    height: 26px;
    width: 26px;
    background-image: url( 'https://inspiredbusinessmedia.co.uk/wp-content/uploads/2016/03/WikiFont_uniE033_-_heart_-_white.svg_.png' );
    background-size: cover;
}

.registration_login_forms{
    margin: 30px auto;
    width: 250px;
    padding:20px;
    border: solid 1px lightgray;
    border-radius: 10px;
    color:lightseagreen;
}

.btn-primary{
    background-color: lightseagreen;
    border-color: lightseagreen;
}

.btn-primary:hover{
    background-color: teal;
    border-color: teal;
}

.user_profile_container{
    width:500px;
    min-width:500px;
}

.profile_picture {
    display: inline-block;
    float:left;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.profile_picture img{
    width: 200px;
    border-radius: 10px;
}

.user_details_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    margin-bottom: 20px;
}

.user_details_container a{
    text-decoration: none;
}

.about_user{
    width:500px;
}

.place_form{
    width: 300px;
}

.place_form input[type*="date"]{
    width: 300px;
}

.place_form textarea{
    min-height: 100px;
    max-height: 250px;
}

.blocks_each_place{
    margin-right: 40px;
    margin-bottom: 30px;
    width: 300px;
    min-width: 250px;
    height: 145px;
    border:solid 1px lightseagreen;
    border-radius: 10px;
    padding:0 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.place_info{
    position: relative;
}

.icon img{
    width: 15px;
    margin-left:3px;
}

.place{
    display: flex;
    margin: 0 auto 50px;
    position: relative;
}

.place_user{
    text-align: center;
}

.place_details{
    margin: 0 20px;
}

.like{
    padding: 4px 7px 0;
    border-radius: 5px;
    cursor: pointer;
}

.like img{
    width: 20px;
    margin-right: 3px;
    padding-bottom: 4px;
}

.like:hover{
    background-color: whitesmoke;
}

.edit_text{
    color: slategray;
}

.caption_places_block{
    width: 180px;
}

.large_text{
    text-align: center;
    font-size: 4em;
    color: lightseagreen;
}