{% extends "lets_travel_app_templates/base.html" %}
{% load static %}
{% load humanize %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}

    <div class="container_content_width800px">
        <div class="info_and_article">
            <div id="article_id" style="display: none;">{{ article.id }}</div>
            <div id="caption">{{ article.caption }}</div>
            <div class="date">{{ article.date|date:"d M. Y"}}</div>
            <div class="line"></div>
            <div><img src="{{ article.image }}"></div>
            <div id="teaser">{{ article.teaser }}</div>
            <div id="text">{{ article.article }}</div>
        </div>
        <div class="comments_and_likes_amount">
            <div  id="comments_amount">
                {{ article.comments.count }} Comment{{ article.comments.count|pluralize }}
            </div>
            {% if request.user.is_authenticated %}
                <div id="likes">
                    {% if is_liked %}
                        <div class="like d-flex align-items-center" id="like_button">
                            <div id="like_status">
                                <img src="{% static 'pictures/heart_like_icon.png' %}">Liked
                            </div>
                        </div>
                    {% else %}
                        <div class="like d-flex align-items-center" id="like_button">
                            <div id="like_status">
                                <img src="{% static 'pictures/like_icon.png' %}">Like
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            <div id="likes_amount">
                {{ article.likes.count }} Like{{ article.likes.count|pluralize }}
            </div>
        </div>
        <div class="comments" id="added_comments">
            {% for comment in article.comments.all %}
                <div class="comment">
                    <div class="user_img_60px_round">
                        {% if comment.author.photo %}
                            <a href="{% url 'lets_travel_app:user_profile' comment.author.username %}"><img src="{{ comment.author.photo }}"></a>
                        {% else %}
                            <a href="{% url 'lets_travel_app:user_profile' comment.author.username %}"><img src="{% static 'pictures/no_user_photo.png' %}"></a>
                        {% endif %}
                    </div>
                    <div class="comment_details">
                        {% if request.user == comment.author %}
                            <div class="edit_and_del_btns">
                                <div class="edit_comment_button mr-2"><span>Edit</span><img src="{% static 'pictures/edit_icon.png' %}"></div>
                                <div class="delete_comment_button"><span>Delete</span><img src="{% static 'pictures/delete_icon.png' %}"></div>
                            </div>
                        {% endif %}
                        <div class="font-weight-bold"><a href="{% url 'lets_travel_app:user_profile' comment.author.username %}">{{ comment.author.username }}</a></div>
                        <div class="mb-2 exist_text">{{ comment.text }}</div>
                        <div class="edit_container form-group" style="display: none;">
                            <label for="textarea"></label>
                            <textarea class="edit_text form-control" id="textarea"></textarea><br/>
                            <input type="submit" class="save_edited_comment form-control btn btn-primary mr-2" value="Save"/>
                            <input type="submit" class="cancel_edit_comment form-control btn btn-primary" value="Cancel"/>
                        </div>
                        <div class="text_0_8em">{{ comment.date|date:"d-m-Y H:i" }}</div>
                        <div class="comment_id" style="display: none;">{{ comment.id }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if request.user.is_authenticated %}
            <div class="add_comment">
                <div class="form-group">
                    <label for="text"></label>
                    <textarea class="form-control" name="text" id="comment_text" rows="5" placeholder="Write a comment"></textarea>
                </div>
                <div class="form-group add_com_button">
                    <input class="form-control btn btn-primary" type="submit" value="Add comment" id="add_comment_button">
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block external_scripts %}

    <script>

        $("#like_button").on("click", function () {
            var article_id = $("#article_id").text();
            $.post({
                url:'{% url "lets_travel_app:increment_likes_article" %}',
                data:{"article_id": article_id},
                success:function (response) {
                    if (response.success){
                        var like_amount = response.amount_of_likes;
                        var like_status = response.like_change;
                        if (like_status === "Liked"){
                            $("#like_status").html('<img src="{% static 'pictures/heart_like_icon.png' %}">' + like_status);
                        }else{
                            $("#like_status").html('<img src="{% static 'pictures/like_icon.png' %}">' + like_status);

                        }
                        if (like_amount ===  0 || like_amount >= 2){
                            $("#likes_amount").text(like_amount + ' Likes');
                        }else{
                            $("#likes_amount").text(like_amount + ' Like');
                        }
                    }else{
                        alert("error");
                    }
                }
            })
        });


        $("#add_comment_button").on("click", function(){
            var article_id = $("#article_id").text();
            var $comment_text_area = $("#comment_text");
            var text = $comment_text_area.val();
            $.post({
                url:'{% url "lets_travel_app:add_comment_article" %}',
                data:{"article_id": article_id, "text": text},
                success:function (response) {
                    if (response.success){
                        var html = response.html_str;
                        var $added_comments = $("#added_comments");
                        $added_comments.html($added_comments.html() + html);
                        var comments_amount = response.amount_of_comments;
                        if (comments_amount ===  0 || comments_amount >= 2){
                            $("#comments_amount").text(comments_amount + ' Comments');
                        }else{
                            $("#comments_amount").text(comments_amount + ' Comment');
                        }
                        $comment_text_area.val("");
                        init_buttons();
                    }else{
                        alert("error");
                    }
                }

            })
        });

        function init_buttons() {
            $(".delete_comment_button").on("click", function () {
                var $delete_btn = $(this);
                process_confirm("Delete comment?", function() {
                    var article_id = $("#article_id").text();
                    var comment_id = $delete_btn.parent().parent().find(".comment_id").text();
                    $.post({
                        url:'{% url "lets_travel_app:delete_comment_article" %}',
                        data:{"comment_id": comment_id, "article_id": article_id},
                        success:function (response) {
                            if (response.success){
                                $delete_btn.parent().parent().parent().remove();
                                var comments_amount = response.amount_of_comments;
                                if (comments_amount ===  0 || comments_amount >= 2){
                                    $("#comments_amount").text(comments_amount + ' Comments');
                                }else{
                                    $("#comments_amount").text(comments_amount + ' Comment');
                                }
                            }else{
                                alert("error");
                            }
                        }

                    })
                });

            });


            $(".edit_comment_button").on("click", function(){
                $('.comment').each(function(){
                    var $edit_area_check = $(this).find(".edit_container");
                    if ($edit_area_check.css("display") === "block"){
                        $edit_area_check.css("display", "none");
                        var $exist_text_dev_check = $(this).find(".exist_text");
                        $exist_text_dev_check.css("display", "block");
                        var exist_text = $exist_text_dev_check.text();
                        $exist_text_dev_check.find(".exist_text").val(exist_text);
                    }
                });
                var $edit_comment_btn = $(this);
                var $exist_text_div = $edit_comment_btn.parent().parent().find(".exist_text");
                $exist_text_div.css("display", "none");
                var $edit_area = $edit_comment_btn.parent().parent().find(".edit_container");
                $edit_area.css("display", "block");
                var exist_text = $exist_text_div.text();
                $edit_area.find(".edit_text").val(exist_text);
            });


            $(".cancel_edit_comment").on("click", function(){
                var $cancel_edit_comment_btn = $(this);
                var $edit_area = $cancel_edit_comment_btn.parent().parent().find(".edit_container");
                $edit_area.css("display", "none");
                var $exist_text_div = $cancel_edit_comment_btn.parent().parent().find(".exist_text");
                $exist_text_div.css("display", "block");
            });


            $(".save_edited_comment").on("click", function(){
                var $save_edited_comment_btn = $(this);
                var comment_id = $save_edited_comment_btn.parent().parent().find(".comment_id").text();
                var $edit_comment_text = $save_edited_comment_btn.parent().parent().find(".edit_text");
                var edit_text = $edit_comment_text.val();
                $.post({
                    url:'{% url "lets_travel_app:edit_comment_article" %}',
                    data:{"comment_id": comment_id, "edit_text": edit_text},
                    success:function (response) {
                        if (response.success){
                            var new_text = response.new_text;
                            var $edit_area = $save_edited_comment_btn.parent().parent().find(".edit_container");
                            $edit_area.css("display", "none");
                            var $exist_text_div = $save_edited_comment_btn.parent().parent().find(".exist_text");
                            $exist_text_div.css("display", "block");
                            $exist_text_div.val(new_text);
                            $exist_text_div.html(new_text)
                        }else{
                            alert("error");
                        }
                    }

                })
            });

        }


        $(document).ready(function(){
            init_buttons();
        });

    </script>

{% endblock %}