{% extends "lets_travel_app_templates/base.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}

    <div class="content_blocks">
        <h4 class="content_captions_on_main">Articles</h4>
        <div class="block_content_all_items">
            {% for article in articles %}
                <div class="block_each_item">
                    <div><img src="{{ article.image }}"></div>
                    <a href="{% url 'lets_travel_app:article' %}?id={{ article.id }}"><div class="caption_h50px">{{ article.caption }}</div></a>
                    <div class="blocks_teaser">{{ article.teaser }}</div>
                    <div class="comments_and_likes_amount">
                        <div  id="comments_amount">
                            {{ article.comments.count }} Comment{{ article.comments.count|pluralize }}
                        </div>
                        <div id="likes_amount">
                            {{ article.likes.count }} Like{{ article.likes.count|pluralize }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}