{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Let's travel!{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'external/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/webfontkit-20180131-112835/stylesheet.css' %}">
</head>
<body>

    <div class="container-fluid">

        <div class="header">
            <div class="header_user_info_block ml-2">
                {% if user.is_authenticated %}
                    <div class="user_image_30px_round">
                        {% if user.photo %}
                            <a href="{% url 'lets_travel_app:user_profile' user.username %}"><img src="{{ user.photo }}"></a>
                        {% else %}
                            <a href="{% url 'lets_travel_app:user_profile' user.username %}"><img src="{% static 'pictures/no_user_photo.png' %}"></a>
                        {% endif %}
                    </div>
                    <div class="user_links_block">
                        Hello, <a href="{% url 'lets_travel_app:user_profile' user.username %}">{{ user.username }}</a>
                        <a class="ml-3" href="{% url 'lets_travel_app:logout_process' %}">Log Out</a>
                    </div>
                {% else %}
                    <a href="{% url 'lets_travel_app:registration' %}">Registration</a>
                    <a class="ml-3" href="{% url 'lets_travel_app:login' %}">Log In</a>
                {% endif %}
            </div>

            <a href="{% url 'lets_travel_app:index' %}"><div class="title">Let's travel!</div></a>


            <div class="header_links_block mr-2">
                <a href="{% url 'lets_travel_app:index' %}">Home</a>
                <a class="ml-2" href="{% url 'lets_travel_app:contact_us' %}">Contact us</a>
            </div>
        </div>


        <div class="main">
            {% block content %}
            {% endblock %}
        </div>

    </div>

    <script src="{% static 'external/bootstrap/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'external/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'external/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/global.js' %}"></script>

</body>

    {% block external_scripts %}{% endblock %}

</html>