{% extends "lets_travel_app_templates/base.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}

    <div class="d-flex">
        <div class="mr-3" style="width: 50%">
            <iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=Ukraine%20kiev+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=12&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/create-google-map/">Google map generator</a></iframe>
        </div>
        <div>
            Location: Kyiv, Ukraine<br>
            Telephone: +380 00 000 00 00<br>
            Email: admin2@admin.com
        </div>
    </div>


{% endblock %}

{% block external_scripts %}

{% endblock %}