{% extends "lets_travel_app_templates/base.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}

    <div class="content_blocks">
        <h4 class="content_captions_on_main">Countries</h4>
        <div class="block_content_all_items">
            {% for country in countries %}
                <div class="block_each_item">
                    <div><img src="{{ country.image }}"></div>
                    <a href="{% url 'lets_travel_app:country' %}?id={{ country.id }}"><div class="caption_h50px">{{ country.caption }}</div></a>
                    <div class="blocks_teaser">{{ country.teaser }}</div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}