{% extends "lets_travel_app_templates/base.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}

    <div class="container_content_width800px">
        <div class="info_and_article">
            <div id="caption">{{ country.caption }}</div>
            <div class="line"></div>
            <div><img src="{{ country.image }}"></div>
            <div id="teaser">{{ country.teaser }}</div>
            <div id="text">{{ country.info }}</div>
        </div>
    </div>

{% endblock %}