{% extends "lets_travel_app_templates/base.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}

    <div class="place_form">
        <form action="{% url 'lets_travel_app:edit_profile_process' %}" method="POST">{% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control" type="text" name="username" value="{{ user.username }}" id="username">
            </div>
            <div class="form-group">
                <label for="first_name">First name:</label>
                <input class="form-control" type="text" name="first_name" value="{{ user.first_name }}" id="first_name">
            </div>
            <div class="form-group">
                <label for="last_name">Last name:</label>
                <input class="form-control" type="text" name="last_name" value="{{ user.last_name }}" id="last_name">
            </div>
            <div class="form-group">
                <label for="birthday">Birthday:</label>
                <input class="form-control" type="date" name="birthday" value="{% if user.birthday %}{{ user.birthday|date:"Y-m-d" }}{% endif %}" id="birthday">
            </div>
            <div class="form-group">
                <label for="photo">Photo:</label>
                <input class="form-control" type="text" name="photo" value="{{ user.photo }}" id="photo">
            </div>
            <div class="form-group">
                <label for="information">Something about yourself:</label>
                <textarea class="form-control" name="information" id="information" maxlength="1000">{{ user.information }}</textarea>
            </div>
            <div class="form-group">
                <input class="btn btn-primary bg-main form-control" type="submit" value="Save changes">
            </div>
        </form>
    </div>

{% endblock %}

{% block external_scripts %}

    <script>

    </script>

{% endblock %}