{% extends "lets_travel_app_templates/base.html" %}
{% load static %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}

    <div class="homepage_img">
        <img src="{% static 'pictures/Bali-Temple-Banner.jpg' %}">
    </div>
    <div class="content_blocks">
        <a href="{% url 'lets_travel_app:articles' %}"><h4 class="content_captions_on_main">Articles</h4></a>
        <div class="block_content_on_main">
            {% for article in articles_on_homepage %}
                <div class="blocks_on_main">
                    <div><img src="{{ article.image }}"></div>
                    <a href="{% url 'lets_travel_app:article' %}?id={{ article.id }}"><div class="caption_articles_on_main">{{ article.caption }}</div></a>
                    <div class="blocks_teaser">{{ article.teaser }}</div>
                    <div class="comments_and_likes_amount">
                        <div  id="comments_amount">
                            {{ article.comments.count }} Comment{{ article.comments.count|pluralize }}
                        </div>
                        <div id="likes_amount">
                            {{ article.likes.count }} Like{{ article.likes.count|pluralize }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="content_blocks">
        <a href="{% url 'lets_travel_app:countries' %}"><h4 class="content_captions_on_main">Countries</h4></a>
        <div class="block_content_on_main">
            {% for country in countries_on_homepage %}
                <div class="blocks_on_main">
                    <div><img src="{{ country.image }}"></div>
                    <a href="{% url 'lets_travel_app:country' %}?id={{ country.id }}"><div class="caption_h50px">{{ country.caption }}</div></a>
                    <div class="blocks_teaser">{{ country.teaser }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="content_blocks">
        <div class="flex_space_between_main">
            <div class="places_caption_on_main">
                <a href="{% url 'lets_travel_app:countries' %}"><h4 class="content_captions_on_main">Visited places</h4></a>
            </div>
            <div class="places_caption_on_main">
                <a href="{% url 'lets_travel_app:countries' %}"><h4 class="content_captions_on_main">Dreams about...</h4></a>
            </div>
        </div>
        <div class="flex_space_between_main">
            <div class="places_on_main">
                {% for visited_place in visited_places_on_homepage %}
                    <div class="place_on_main">
                        <div class="user_img_60px_round">
                            {% if visited_place.author.photo %}
                                <a href="{% url 'lets_travel_app:user_profile' visited_place.author.username %}"><img src="{{ visited_place.author.photo }}"></a>
                            {% else %}
                                <a href="{% url 'lets_travel_app:user_profile' visited_place.author.username %}"><img src="{% static 'pictures/no_user_photo.png' %}"></a>
                            {% endif %}
                        </div>
                        <div class="place_info_on_main">
                            <a href="{% url 'lets_travel_app:user_profile' visited_place.author.username %}">{{ visited_place.author.username }}</a> was in {{ visited_place.country }}<br>
                            <div class="text_0_8em">from {{ visited_place.start_date|date:"j F Y" }} till {{ visited_place.end_date|date:"j F Y" }}</div>
                            <div class="text_0_8em"><a href="{% url 'lets_travel_app:visited_place' %}?id={{ visited_place.id }}">View details</a></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="places_on_main">
                {% for wish_place in wish_places_on_homepage %}
                    <div class="place_on_main">
                        <div class="user_img_60px_round">
                            {% if wish_place.author.photo %}
                                <a href="{% url 'lets_travel_app:user_profile' wish_place.author.username %}"><img src="{{ wish_place.author.photo }}"></a>
                            {% else %}
                                <a href="{% url 'lets_travel_app:user_profile' wish_place.author.username %}"><img src="{% static 'pictures/no_user_photo.png' %}"></a>
                            {% endif %}
                        </div>
                        <div class="place_info_on_main">
                            <a href="{% url 'lets_travel_app:user_profile' wish_place.author.username %}">{{ wish_place.author.username }}</a> wants to visit {{ wish_place.country }}
                            <div class="text_0_8em"><a href="{% url 'lets_travel_app:wish_place' %}?id={{ wish_place.id }}">View details</a></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block external_scripts %}

    <script>

    </script>

{% endblock %}