{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Let's travel!</title>
    <link rel="stylesheet" href="{% static 'external/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/webfontkit-20180131-112835/stylesheet.css' %}">
</head>
<body>

    <div class="container-fluid">

        <div class="header">
            <div class="header_user_info_block ml-2"></div>
            <a href="{% url 'lets_travel_app:index' %}"><div class="title">Let's travel!</div></a>
            <div class="header_links_block mr-2">
                <a href="{% url 'lets_travel_app:index' %}">Home</a>
                <a class="ml-2" href="{% url 'lets_travel_app:index' %}">About</a>
                <a class="ml-2" href="/admin/">Support</a>
            </div>
        </div>

        <div class="main">
            <div class="registration_login_forms">
                <h4 id="mb_25">Log In</h4>
                <form action="{% url 'lets_travel_app:login_process' %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input class="form-control" type="text" name="username" id="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input class="form-control" type="password" name="password" id="password">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary bg-main form-control" type="submit" value="Log In">
                    </div>
                </form>
            </div>
        </div>

    </div>

    <script src="{% static 'external/bootstrap/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'external/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'external/bootstrap/bootstrap.min.js' %}"></script>

</body>


</html>