{% extends "lets_travel_app_templates/base.html" %}
{% load static %}
{% load humanize %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}

    <div id="buttons_placeholder">
        <button class="clickable">Click me to add button below</button><br>
    </div>

{% endblock %}

{% block external_scripts %}
    <script>

    function init_buttons() {
        $('.clickable').on('click', function() {
            var $placeholder = $('#buttons_placeholder');
            var html = $placeholder.html();
            var new_button = '<button class="clickable">Click me to add button below</button><br>';
            $placeholder.html(html + new_button);
            init_buttons();
        });
    }


    $(function(){
        init_buttons();


    });



    </script>
{% endblock %}