{% extends "lets_travel_app_templates/base.html" %}
{% load static %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}

    {% if profile_owner %}
        <h4>Hello, {{ user_profile.username }}</h4>
        <div class="user_profile_container">
            <div class="profile_picture">
                {% if user_profile.photo %}
                    <img src="{{ user_profile.photo }}">
                {% else %}
                    <img src="{% static 'pictures/no_user_photo.png' %}">
                {% endif %}
            </div>
            <div class="user_details_container">
                <div class="user_details">
                    {% if user_profile.get_full_name %}
                        <h5>{{ user_profile.get_full_name }}</h5>
                    {% endif %}
                    {% if user_profile.birthday %}
                        {{ user_profile.birthday }}
                    {% endif %}<br>
                    <a href="{% url 'lets_travel_app:edit_profile' %}">Edit profile</a>
                </div>
                <div>
                    <a class="mr-2" href="{% url 'lets_travel_app:visited_places' user_profile.username %}">Visited places</a>
                    <a class="mr-2" href="{% url 'lets_travel_app:wish_list' user_profile.username %}">Wish list</a>
                </div>
            </div>
            <div class="about_user">
                {{ user_profile.information }}
            </div>
        </div>
    {% elif authorized_guest %}
        <h4>{{ user_profile.username }}</h4>
        <div class="user_profile_container">
            <div class="profile_picture">
                {% if user_profile.photo %}
                    <img src="{{ user_profile.photo }}">
                {% else %}
                    <img src="{% static 'pictures/no_user_photo.png' %}">
                {% endif %}
            </div>
            <div class="user_details_container">
                <div class="user_details">
                    {% if user_profile.get_full_name %}
                        <h5>{{ user_profile.get_full_name }}</h5>
                    {% endif %}
                    {% if user_profile.birthday %}
                        {{ user_profile.birthday }}
                    {% endif %}<br>
                </div>
                <div>
                    <a class="mr-2" href="{% url 'lets_travel_app:visited_places' user_profile.username %}">Visited places</a>
                    <a class="mr-2" href="{% url 'lets_travel_app:wish_list' user_profile.username %}">Wish list</a>
                </div>
            </div>
            <div class="about_user">
                {{ user_profile.information }}
            </div>
        </div>
    {% else %}
        <a href="{% url 'lets_travel_app:registration' %}">Registration</a><br>
        <a href="{% url 'lets_travel_app:login' %}">Log In</a><br><br>
    {% endif %}

{% endblock %}