{% extends "lets_travel_app_templates/base.html" %}
{% load static %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}

    <div class="content_blocks">
        <h4 class="content_captions_on_main">Visited places</h4>
        <div class="block_content_all_items">
            {% for place in visited_places %}
                <div class="blocks_each_place">
                    <div class="place_info">
                        <div>
                            <div class="edit_and_del_btns text_0_8em mt-1">
                                {% if profile_owner %}
                                    <div class="mr-1"><a href="{% url 'lets_travel_app:visited_place_form' %}?id={{ place.id }}"><span>Edit</span><img src="{% static 'pictures/edit_icon.png' %}"></a></div>
                                    <form action="{% url 'lets_travel_app:delete_visited_place' %}" method="POST">{% csrf_token %}
                                        <div onclick="var $delete_place = $(this).parent(); process_confirm('Delete place?', function(){$delete_place.submit()}); return false;"><span>Delete</span><img src="{% static 'pictures/delete_icon.png' %}"></div>
                                        <input type="hidden" name="id" value="{{ place.id }}">
                                    </form>
                                {% endif %}
                            </div>
                            <div class="text_1_2em_bold caption_places_block">
                                <a href="{% url 'lets_travel_app:visited_place' %}?id={{ place.id }}">{{ place.country }}</a>
                            </div>
                        </div>
                        <div class="text_0_9em mb-1">{{ place.all_cities }}</div>
                        <div class="text_0_8em">from {{ place.start_date }} till {{ place.end_date }}</div>

                    </div>
                    <div>
                        <div class="text_0_9em comments_and_likes_amount mb-0">
                            <div  id="comments_amount">
                                {{ place.comments.count }} Comment{{ place.comments.count|pluralize }}
                            </div>
                            <div id="likes_amount">
                                {{ place.likes.count }} Like{{ place.likes.count|pluralize }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if profile_owner %}
                <div class="icon"><a href="{% url 'lets_travel_app:visited_place_form' %}">Add new place<img src="{% static 'pictures/add_icon.png' %}"></a></div>
        {% endif %}
    </div>

{% endblock %}