{% extends "lets_travel_app_templates/base.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}

    <h4 id="mb_25">Your wish place</h4>
    <div class="place_form">
        <form action="{% url 'lets_travel_app:wish_place_process' %}" method="POST">{% csrf_token %}
            <div class="form-group">
                <label for="country">Country:</label>
                <select class="form-control custom-select" name="country" id="country">
                    {% if wish_place_form %}
                        <option value="{{ wish_place_form.country.id }}">{{ wish_place_form.country.name }}</option>
                        {% for country in countries %}
                            <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endfor %}
                    {% else %}
                        <option selected disabled>Choose Country</option>
                        {% for country in countries %}
                            <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="form-group">
                <label for="cities">Cities:</label>
                <select class="form-control" name="cities" id="cities" multiple></select>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" name="description" id="description" maxlength="1000">{% if wish_place_form %}{{ wish_place_form.description }}{% endif %}</textarea>
            </div>
            <div class="form-group">
                <input class="btn btn-primary bg-main form-control" type="submit" value="Save">
                <input type="hidden" name="id" value="{{ wish_place_form.id }}">
            </div>
        </form>
    </div>

{% endblock %}


{% block external_scripts %}

    <script>
        $(function(){
            var $country = $('#country');
            $country.on('change', function() {
                var country_id = $(this).find('option:selected').val();
                $.get({
                    url: '{% url "lets_travel_app:cities_for_wish_place" %}',
                    data: {
                        'country_id': country_id,
                        'wish_place_id': {% if wish_place_form %}{{ wish_place_form.id }}{% else %}-1{% endif %}
                    },
                    success: function(response) {
                        if (response.success) {
                            var cities = response.cities;
                            var html = '';
                            for (var i = 0; i < cities.length; i++) {
                                var city = cities[i];
                                var selected = (city.is_selected ? "selected" : "");
                                html += '<option value='+ city.id + ' ' + selected +'>' + city.name + '</option>';
                            }
                            $('#cities').html(html);
                        } else {
                            alert('error');
                        }
                    }
                });
            });
            $country.trigger('change');

            var cities = $('#cities');
            $("select[multiple]").change(function() {
                $(this).find("option:selected");
                if ($(this).find("option:selected").length > 10) {
                    $(this).find("option").removeAttr("selected");
                    $(this).val(cities);
                }
                else {
                    cities = $('#cities');
                    $(this).find("option:selected").each(function(index, item) {
                        cities.push($(item).val());
                    });
                }
            });
        });
    </script>

{% endblock %}